# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directory

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# dependencies client

# for maintenance purposes - not best practices
package-lock.json
